<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PAKAR Kornea Mata</title>
    <link rel="stylesheet" href="assetsindex/css/font-awesome.min.css">
    <link rel="stylesheet" href="assetsindex/css/bootstrap.min.css">
    <link rel="stylesheet" href="assetsindex/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <script src="assets/scripts/angular.js"></script>
    <script src="assets/scripts/angular-route.js"></script>
    <script src="assets/scripts/angular-animate.min.js"></script>
    <!-- <script src="node_modules/chart.js/dist/Chart.min.js"></script> -->
    <!-- <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script> -->
    <script type="text/javascript" src="node_modules/angular-fusioncharts.min.js"></script>
    <script type="text/javascript" src="node_modules/fusioncharts.js"></script>
    <script type="text/javascript" src="node_modules/fusioncharts.charts.js"></script>
    <!-- <script type="text/javascript" src="node_modules/zune-theme.js"></script> -->
    <script src="apps/app.js"></script>
    <script src="apps/Controller.js"></script>
    <script src="assetsindex/js/modernizr.js"></script>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
	<![endif]-->
    <style>
        .modal-dialog {
            position: absolute;
            left: 50%;
            /* now you must set a margin left under zero - value is a half width your window */
            margin-left: -312px;
            /* this same situation is with height - example */
            height: 500px;
            top: 50%;
            margin-top: -250px;
        }
    </style>

</head>

<body ng-controller="IndexController" ng-init="Init()">

    <!-- ====================================================
	header section -->
    <header class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-5 header-logo">
                    <br>
                    <a href="index.html"><img src="assetsindex/img/logo.png" alt="" class="img-responsive logo"></a>
                </div>

                <div class="col-md-7">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid nav-bar">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav navbar-right">
                                    <li><a class="menu active" href="#home">Beranda</a></li>
                                    <li><a class="menu" href="#about">Bantuan</a></li>
                                    <li><a class="menu" href="#service">Penyakit</a></li>
                                    <li><a class="menu" href="#team">Gejala</a></li>
                                    <li><a class="menu" href="#contact">Konsultasi</a></li>
                                    <li><a class="menu" href="authentication-login.html">Login</a></li>
                                </ul>
                            </div>
                            <!-- /navbar-collapse -->
                        </div>
                        <!-- / .container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- end of header area -->

    <section class="slider" id="home">

        <div class="container-fluid">
            <div class="row">
                <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="header-backup"></div>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div ng-repeat="item in DatasPenyakit.Penyakit" ng-class="{'item active': $index==0, 'item': $index!=0}">
                            <img src="assets/img/{{item.photo}}" width="100%" alt="" class="text-center">
                            <div class="carousel-caption">
                                <p>{{item.nm_penyakit}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <h2 class="text-center">SELAMAT DATANG DI SISTEM PAKAR DIAGNOSA PENYAKIT KORNEA MATA MENGGUNAKA METODE BACKWARD CHAINING</h2>
                    <div class="text-center">
                        <img class="text-center" src="assetsindex/img/kornea.png">
                        <p>
                            Kornea (Cornea) pada Mata | Sumber: American Academy of Opthtalmology
                        </p>
                    </div>
                    <font size="5px" align="justify">
                        <p>
                            Kornea adalah lapisan pelindung terluar mata. Fungsinya adalah mencegah kotoran dan benda asing serta menyaring sinar UV yang masuk ke mata. Kornea adalah bagian mata yang penting karena menentukan seberapa baik tingkat fokus mata terhadap suatu objek.Faktanya,
                            kornea adalah lapisan bening pada mata yang berisi oleh berbagai jaringan. Tak seperti bagian tubuh yang lain, kornea tidak memiliki pembuluh darah. Jadi, sebagai penggantinya, kornea mendapatkan, makanan, dari air mata.
                        </p>
                        <p>
                            Kornea merupakan jaringan yang sangat kompleks. Pada kornea, tidak terdapat pembuluh darah, sehingga nutrisi kornea diperoleh dari air mata dan aqueous humor. Kornea memiliki tiga lapisan yaitu:

                        </p>
                    </font>
                    <div class="text-center">
                        <img class="text-center" src="assetsindex/img/Lapisan.png">
                        <p>
                            Lapisan kornea | Sumber: Allaboutvision.com
                        </p>
                    </div>
                    <div style="margin-bottom: 50px;">
                        <font size="5px" align="justify">
                            <div class="col-md-12">
                                <div class="col-lg-1">
                                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                                </div>
                                <div class="col-sm-11" style="margin-left: -50px;">
                                    <span>Epitelium (ephitelium) adalah lapisan terluar kornea. Berfungsi untuk mencegah masuknya benda asing, serta menyerap oksigen dan nutrisi dari air mata.</span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-sm-1">
                                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                                </div>
                                <div class="col-lg-11" style="margin-left: -50px;">
                                    <span>Stroma, terletak setelah epitelium. Stroma adalah lapisan tengah paling tebal dan tersusun atas air dan protein sehingga berbentuk padat dan elastis.</span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-sm-1">
                                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                                </div>
                                <div class="col-lg-11" style="margin-left: -50px;">
                                    <span>Endotelium (endothelium), terletak di belakang stroma. Lapisan ini berfungsi untuk memompa kelebihan cairan pada stroma. Gangguan fungsi endotelium dapat menyebabkan stroma penuh dengan cairan sehingga menyebabkan penglihatan kabur.</span>
                                </div>
                            </div>
                        </font>
                    </div>
                    <div>
                        <br>
                        <h2>GEJALA YANG TERJADI KETIKA KORNEA MATA TERINFEKSI.</h2>
                        <font size="5px" align="justify">
                            <span>
                                    Luka atau infeksi kecil pada kornea biasanya dapat sembuh sendiri. Gejala-gejala apabila terdapat gangguan pada kornea:
                            </span>
                        </font>
                        <font size="5px" align="justify">
                            <div class="col-md-12">
                                <div class="col-lg-1">
                                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                                </div>
                                <div class="col-sm-11" style="margin-left: -50px;">
                                    <span>Mata Terasa Nyeri</span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-sm-1">
                                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                                </div>
                                <div class="col-lg-11" style="margin-left: -50px;">
                                    <span>Pandangan Buram</span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-sm-1">
                                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                                </div>
                                <div class="col-lg-11" style="margin-left: -50px;">
                                    <span>Mata Berair</span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-sm-1">
                                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                                </div>
                                <div class="col-lg-11" style="margin-left: -50px;">
                                    <span>Mata Kemerahan</span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-sm-1">
                                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                                </div>
                                <div class="col-lg-11" style="margin-left: -50px;">
                                    <span>Sensivitas tinggi terhadap cahaya</span>
                                </div>
                            </div>
                        </font>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of slider section -->

    <!-- about section -->
    <section class="about" id="about">
        <div class="container">
            <div class="row">
                <h2 class="text-center">Bantuan</h2>
                <h4 class="text-center">Selamat Datang Di Aplikasis Sistem Pakar Diagnose Penyakit Kornea Mata</h4>
                <h3>Langkah-langkah Penggunaan Aplikasi</h3>
                <ol>
                    <li class="list-item">
                        <font size="6px">
                            Pasien dapat melihat informasi mengenai jenesi penyakit dan gejala yang telah disediakan sistem pada menu penyakit dan gejala.
                        </font>
                    </li>
                    <li class="list-item">
                        <font size="6px">
                            Jika pasien ingin melakukan konsultasi dapat memilih menu konsultasi, pasien wajib mengisi nama dan jenis kelamin, kemudian memilih jenis penyakit yang ingin diperiksa, sistem akan memberikan pertanyaan mengenai gejala-gejala sesuai penyakit yang dipilih,
                            pasien wajib menjawab pertanyaan yang diberikan sistem untuk mendapat hasil konsultasi akhir berupa penyakit kornea mata yang diderita berdasarkan jawaban pasien mengenai gejala yang dirasakan.
                        </font>
                    </li>
                </ol>

            </div>
        </div>
    </section>
    <!-- end of about section -->


    <!-- service section starts here -->
    <section class="service text-center" id="service">
        <div class="container">
            <div class="row">
                <div class="team-heading text-center">
                    <h2>Penyakit</h2>
                    <h4>Daftar Gejala</h4>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3" ng-repeat="item in DatasPenyakit.Penyakit" style="margin-bottom: 50px;">
                            <div class="card">
                                <img class="card-img-top" alt="Bootstrap Thumbnail {{$index}}" src="assets/img/{{item.photo}}" width="200px" height="100px" />
                                <div class="card-block">
                                    <h5 class="card-title" style="color: azure;">
                                        <font size="4px">{{item.nm_penyakit}}</font>
                                    </h5>
                                    <a href="" title="Details" type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{item.kd_penyakit}}">
                                        <font color="white">Details</font>
                                    </a>
                                    <div class="modal fade" id="{{item.kd_penyakit}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">
                                                        <font size="5px">Detail Penyakit {{item.nm_penyakit}}</font>
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												  </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="col-lg-12 text-left" style="font-size: 17px;">
                                                        <img src="assets/img/{{item.photo}}" width="530">
                                                        <div class="col-lg-12">
                                                            <b>Keterangan</b><br> {{item.keterangan}}
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <b>Penyebab</b><br> {{item.penyebab}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of service section -->


    <!-- team section -->
    <section class="team" id="team">
        <div class="container">
            <div class="row">
                <div class="team-heading text-center">
                    <h2>Gejala</h2>
                    <h4>Datar Gejala</h4>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2" ng-repeat="item in DatasPenyakit.Gejala" style="margin-bottom: 25px;">
                            <div class="card">
                                <img class="card-img-top" alt="Bootstrap Thumbnail {{$index}}" src="assets/img/{{item.Photo}}" width="200px" height="100px" />
                                <div class="card-block">
                                    <h5 class="card-title">
                                        {{item.nm_gejala}}
                                    </h5>

                                    <a href="" title="Details" type="button" data-toggle="modal" data-target="#{{item.kd_gejala}}">
                                        <font color="blue">Details</font>
                                    </a>
                                    <div class="modal fade" id="{{item.kd_gejala}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Detail Gejala {{item.nm_penyakit}}</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													  </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="col-lg-12">
                                                        <img src="assets/img/{{item.Photo}}" width="530" height="270">
                                                        <div class="col-lg-12">
                                                            <h4>
                                                                <b>Keterangan</b><br> {{item.Keterangan}}
                                                            </h4>>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- end of team section -->

    <!-- map section -->
    <div class="api-map" id="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 map" id="map"></div>
            </div>
        </div>
    </div>
    <!-- end of map section -->

    <!-- contact section starts here -->
    <section class="contact">
        <div class="container">

            <div class="row">
                <div class="contact-caption clearfix">
                    <div class="contact-heading">
                        <center>
                            <h2>konsultasi</h2>
                        </center>

                    </div>
                    <div class="col-md-5 contact-info text-left">
                        <h3>Lengkapi Biodata Diri</h3>
                        <form role="form">
                            <div class="form-group">
                                <label>Nama</label>
                                <input type="text" ng-model="DatasPasien.nama" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Kode Jenis Kelamin</label>
                                <input type="text" ng-model="DatasPasien.sex" class="form-control">
                            </div>
                        </form>
                        <div class="modal-footer">
                            <div class="form-group">
                                <a href="" class="btn btn-primary" ng-click="PanggilPenyakit()">DAFTAR</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-offset-1 contact-form" ng-show="aktif==true">
                        <div ng-show="Nilai==0">
                            <h3>Daftar Penyakit Mata</h3>
                            <!--end page header -->
                        </div>
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <!-- <div class="panel-heading">
                                        Basic Form Elements
                                    </div> -->
                                <div class="panel-body">
                                    <ol type="1">
                                        <li ng-repeat="item in DatasPenyakit.Penyakit">
                                            {{$index+1}}.
                                            <a href="" ng-click="Pertanyaan(item)">{{item.nm_penyakit}}</a>
                                        </li>
                                    </ol>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1 contact-form" ng-show="Nilai==1">
                        <div ng-show="Nilai==1">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-default">
                                        <!-- <div class="panel-heading">
                                                    Basic Form Elements
                                                </div> -->
                                        <div class="panel-heading">
                                            <h4><b>Jawab Pertanyaan Berikut</b></h4><br>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-lg-12">
                                                <h4>{{TambahGejala.Pertanyaan}}</h4>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button ng-show="JumlahIndex - 1==NilaiIndex && Hasil=='true'" type="button" class="btn btn-primary" ng-click="PilihYa()" data-toggle="modal" data-target="#Detail">Ya</button>
                                            <button ng-show="JumlahIndex - 1==NilaiIndex && Hasil=='false'" type="button" class="btn btn-primary" ng-click="PilihYa()" data-toggle="modal" data-target="#DetailFalse">Ya</button>
                                            <button ng-show="JumlahIndex - 1 > NilaiIndex" type="button" class="btn btn-primary" ng-click="PilihYa()">Ya</button>
                                            <button ng-show="JumlahIndex - 1==NilaiIndex" type="button" class="btn btn-primary" ng-click="PilihTidak()" data-toggle="modal" data-target="#DetailTidak">Tidak</button>
                                            <button ng-show="JumlahIndex - 1 > NilaiIndex" type="button" class="btn btn-primary" ng-click="PilihTidak()">Tidak</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="DetailFalse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Information</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Mr./Mrs. {{Pesan}} <br> Segera hubungi dokter untuk pemeriksaan lebih lanjut<br>Persentase Tingkat kemungkinannya {{HasilPersen}} %
                                        </div>
                                    </div>




                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <a href="javascript:location.reload(true)" class="btn btn-primary">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="Detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Information</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Mr./Mrs. {{Pesan}} <br> Segera hubungi dokter untuk pemeriksaan lebih lanjut<br>Persentase Tingkat kemungkinannya {{HasilPersen}} %
                                        </div>
                                        <div class="col-lg-12">
                                            <br>
                                            <b>Detail Penyakit {{DatasGejala.nm_penyakit}}</b>
                                            <img src="assets/img/{{DatasGejala.photo}}" width="560">

                                        </div>

                                        <div class="col-lg-12">
                                            <b>Keterangan</b><br> {{DatasGejala.keterangan}}
                                        </div>
                                        <div class="col-lg-12">
                                            <h5>{{DatasGejala.nm_penyakit}}</h5><br> {{DatasGejala.penyebab}}
                                        </div>
                                    </div>




                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <a href="javascript:location.reload(true)" class="btn btn-primary">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="DetailTidak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Information</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Mr./Mrs. {{Pesan}} <br> Segera hubungi dokter untuk pemeriksaan lebih lanjut<br>Persentase Tingkat kemungkinannya {{HasilPersen}} %
                                        </div>
                                    </div>




                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <a href="javascript:location.reload(true)" class="btn btn-primary">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-view></ng-view>
        </div>
    </section>


    <!-- end of contact section -->

    <!-- footer starts here -->
    <footer class="footer clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 footer-para">
                    <p>&copy;Mostafizur All right reserved</p>
                </div>
                <div class="col-xs-6 text-right">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-skype"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- script tags
	============================================================= -->
    <script src="assetsindex/js/jquery-2.1.1.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyDTE20098diSS9LmZigGf3IPlwVbvyAvfY&sensor=true"></script>
    <script src="assetsindex/js/gmaps.js"></script>
    <script src="assetsindex/js/smoothscroll.js"></script>
    <script src="assetsindex/js/bootstrap.min.js"></script>
    <script src="assetsindex/js/custom.js"></script>
</body>

</html>