<div ng-init="Init()" style="margin-left: 200px;margin-right: 200px">
    <div class="row">
        <br>
        <!-- page header -->
        <div class="col-lg-12">

            <br>
            <br><br>
            <img src="assets/images/icon.jpeg" alt="" width="120px" />
            <center>
                <p>
                    <font size="5px">SISTEM PAKAR
                        <BR> PENENTUAN PENYAKIT KORNEA MATA
                        <BR> DENGAN MENGGUNAKAN METODE BACKWARD CHAINING</font>
                </p>
            </center>


        </div>
    </div>
</div>